.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(0, 36, 27);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  /* max-width: 25%; */
  min-width: 25%;
  padding: 10px;
}
